html {
  overflow-y: scroll;
}

body {
  background-color : #0B0C10;
}

h1, h2 {
  color: #03E2D3;
  font-family: helvetica;
}

h3 {
  color: #45A29E;
  font-family: helvetica;
}

p, ul, li {
  color: #C5C6C7;
  font-family: helvetica;
}

.centered-text {
  text-align: center;
}

.miniheader {
  font-size: 1em;
  color: #45A29E;
  font-family: helvetica;
}

.account {
  margin-left: 1em;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.375;
}

.account_logo {
  height: 32px;
  vertical-align: middle;
}

.page_layout {
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
}

.header_layout {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 1px;
  height: 100%;
}

/* When adding new links to header, update the second value here */
.header_name {
  grid-row: 1 / 4;
  text-decoration: none;
}

.header_nav_link {
  grid-column: 2 / 3;
}

.generic_main {
  grid-column: 2 / 3;
  grid-row: 2 / auto;
  border-bottom-style : solid;
  border-bottom-width : 5px;
  border-bottom-color : #1F2833;
}

.generic_footer {
  grid-column: 2 / 3;
  grid-row: 3 / auto;
}

input[type='checkbox'] {
  display:none;
}

.lbl-toggle {
  display: block;
  padding: .5rem;
  font-family: helvetica;
  text-align: center;
  color: #C5C6C7;
  background: #0B0C10;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #45A29E;
}

.collapsible-content .collapsible-inner {
  background: rgba(11, 12, 16, .4);
  padding: .5rem .5rem;
  font-size: 0.8em;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.generic_section_title {
  text-align: center;
  border-bottom-style : solid;
  border-bottom-width : 5px;
  border-bottom-color : #1F2833;
}

.header_container {
  grid-column: 2 / 3;
  grid-row: 1;
  border-bottom-style : solid;
  border-bottom-width : 5px;
  border-bottom-color : #1F2833;
}

.quotation {
  font-size: 1.5em;
  quotes: "\201C""\201D""\2018""\2019";
  margin: 0px auto 0px auto;
  text-align: center;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 10px;
  color #CCC;
  font-size: 2em;
}

.quotation:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 10px;
  color #CCC;
  font-size: 2em;
}

div.work_box_container {
  margin: auto 15% auto 15%;
}

a.resume_link {
  display: inline-block;
  background-color: #1F2833;
  width: 10%;
  text-align:center;
  border-radius: 6px;
  padding-top: 2px;
}

a.resume_link:hover {
  background-color: #1F2833;
}

a.resume_link:focus {
  background-color: #1F2833;
}

a {
  font-family: helvetica;
  vertical-align: middle;
  text-decoration: underline;
}

a:link {
  color: #C5C6C7;
}

a:visited {
  color: #C5C6C7;
}

a:hover {
  color: #45A29E;
}

a:focus {
  color: #45A29E;
}

.error-box {
  color: #000000;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: #FFB3B3;
  border-style: solid;
  border-color: #FF0000;
  border-width: 0.1em;
}

@media (min-resolution: 72dpi) {
  html {
    font-size: 16px;
  }
}

@media (max-resolution: 300dpi) {
  html {
    font-size: 22px;
  }
}

/*
 * Taken from SpinKit by Tobias Ahlin under the MIT license
 */
/*
 *  Usage:
 *
      <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
      </div>
 *
 */
.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
