html {
  overflow-y: scroll;
}

body {
  background-color : #0B0C10;
}

h1, h2, h3 {
  color: #03E2D3;
  font-family: helvetica;
}

p, ul, li {
  color: #C5C6C7;
  font-family: helvetica;
}

.account {
  margin-left: 1em;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.375;
}

.account_logo {
  height: 32px;
  vertical-align: middle;
}

.page_layout {
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 100%;
}

.header_layout {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 1px;
  height: 100%;
}

/* When adding new links to header, update the second value here */
.header_name {
  grid-row: 1 / 4;
  margin-top: auto;
  text-decoration: none;
}

.header_nav_link {
  grid-column: 2 / 3;
  margin-top: auto;
}

.generic_main {
  grid-column: 2 / 3;
  grid-row: 2 / auto;
}

.generic_section_title {
  text-align: center;
  border-bottom-style : solid;
  border-bottom-width : 5px;
  border-bottom-color : #1F2833;
}

.header_container {
  grid-column: 2 / 3;
  grid-row: 1;
  border-bottom-style : solid;
  border-bottom-width : 5px;
  border-bottom-color : #1F2833;
}

.quotation {
  font-size: 25px;
  quotes: "\201C""\201D""\2018""\2019";
  margin: 0px auto 0px auto;
  text-align: center;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 10px;
  color #CCC;
  font-size: 2em;
}

.quotation:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 10px;
  color #CCC;
  font-size: 2em;
}

div.work_box_container {
  margin: auto 15% auto 15%;
}

a.resume_link {
  display: inline-block;
  background-color: #1F2833;
  width: 10%;
  text-align:center;
  border-radius: 6px;
  padding-top: 2px;
}

a.resume_link:hover {
  background-color: #1F2833;
}

a.resume_link:focus {
  background-color: #1F2833;
}

a {
  font-family: helvetica;
  vertical-align: middle;
  text-decoration: underline;
}

a:link {
  color: #C5C6C7;
}

a:visited {
  color: #C5C6C7;
}

a:hover {
  color: #45A29E;
}

a:focus {
  color: #45A29E;
}
